.login-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #5c6f7f;
  font-family: sans-serif;
}
#log_in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.auto_login h5 {
  text-align: center;
  margin-bottom: 5%;
}
.auto_login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auto_login_text {
  margin-left: 0.5rem;
}

.auto_login_btn button {
  border-radius: 3px;
  margin-right: 5%;
  background: #005ae2;
  color: white;
  display: flex;
}
.auto_login p {
  margin: 1rem;
  text-align: center;
}

.input_fields {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.input_fields input {
  padding: 0.5rem;
  margin-bottom: 5%;
  border-radius: 5px;
  border: 2px solid blue;
  width: 100%;
}

.password_cont {
  display: flex;
}
.pass_toggle {
  display: flex;
  margin-top: 2.5%;
  margin-left: -2rem;
}

.forgot {
  text-align: right;
  margin-bottom: 3%;
  text-decoration: none;
  color: #005ae2;
}

.login_btn {
  width: 85%;
  background: #005ae2;
  color: white;
}

.to_signup {
  margin: 1rem 0;
}

.terms_condition {
  text-align: center;
  width: 30rem;
}

.login-content a {
  text-decoration: none;
  color: #005ae2;
}

.loading {
  position: relative;
  transform: translate(-50%. -50%);
  width: 1rem;
  height: 1rem;
}














@media (max-width: 400px) {
  .input_fields {
    width: 20rem;
  }


  .terms_condition {
    width: auto;
  }
}