//Primary Text colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red:#005ae2;

// Background gradient:
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//Neutral Text colors
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

.faq {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 0;
    padding-bottom: 25px;
    text-align: center;
    font-family: sans-serif;
  }

  &__question {
    width: 100%;
    max-width: 70%;
    justify-content: center;
    margin-left: 15%;
    border-bottom: 1px solid $light-grayish-blue;
  }

  &__question-button {
    display: flex;
    text-align: left;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
    font-size: 1.7rem;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: sans-serif;
    color: black;

    // &::after {
    //   content: url(../../assets/icon-arrow-down.svg);
    //   margin-right: 17px;
    //   transform: rotate(90deg);
    // }

    &:hover {
      color: #5c5c5c;
    }
  }

  &__desc {
    padding-right: 17px;
    padding-left: 17px;
    margin-top: 0;
    font-size: 1.2rem;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
    // max-width: 60%;
    transition: all 200ms ease-out;
    font-family: sans-serif;

  }
}

.faq__desc.show-description {
  height: auto;
  margin-bottom: 15px;
}

/* Arrows */


/* closed */
.faq__question-button::after {
  transition: transform 300ms ease-out;
}

/* open */
.font-weight-bold::after {
  transform: rotate(720deg);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: $light-grayish-blue;
  padding-top: 10px;
}
.attribution a {
  color: $soft-violet;
}

.component {
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
  background-color: #ffffff;
  background-position: -565px -295px;
  background-repeat: no-repeat;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  display: flex;
}













@media (max-width: 545px) {
  .faq__title {
    font-size: 1.5rem;
  }

  .faq__question-button {
    font-size: 1.1rem;
  }
  .faq__desc {
    font-size: 15px;
  }
}