.dash_nav {
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
}

.dash_nav h1 {
  font-family: sans-serif;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

 .drop_btn {
	display: flex;
	font-size: 1.5rem;
}

.drop_content {
  display: flex;
  align-items: center;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0;
  margin: 0;
}
.drop_content button {
	background: none;
	color: white;
  border:none;
  padding: auto;
  padding: 0.5rem;
}

.dash_nav .drop_cont_active {
  /* display: block;
  overflow: hidden; */

}

 .dropdown:hover .drop_content {
  visibility: visible;
 }
