* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: border-box;
}

button {
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: sans-serif;
  cursor: pointer;
  transition: 0.25s ease;
  font-family: sans-serif;
}